.modal {
  display: none;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
}

.modal.abrir {
  display: flex;
}

.modal .modal-content {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 500px;
  border-radius: 5px;
  background-color: #fff;
}

.modal .modal-content .info {
  display: flex;
  justify-content: space-evenly;
}

.info .info-col {
  width: 30%;
}

.info .info-col .info-image {
  height: 150px;
}

.info .info-col img {
  width: 100%;
}

.info .info-col p:not(.info-image) {
  height: 70px;
}

.info-col p {
  display: flex;
  justify-content: center;
  align-items: center;
  border-collapse: collapse;
}

.info-col:first-child {
  font-weight: bold;
}

.info-col p:nth-child(even) {
  background: rgb(236, 233, 233);
}

.btn-fechar {
  width: 100px;
  padding: 15px 0;
  background: #1351d8;
  color: white;
  font-weight: bold;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  transition: 1s all;
  cursor: pointer;
}
